.subtitle_news {
  position: relative;
  margin-left: 35px;
  color: #FDC70D;
}

.subtitle_news::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 80%;
  transform: translateY(-50%);
  width: 18px;
  height: 32px;
  background-image: url('../../../images/sign.svg');
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .subtitle_news {
    margin-left: 32px;
  }
  .subtitle_news::before {
    left: -25px;
    top: 25px;
    background-size: 13px 13px;
  }
}

@media (max-width: 500px) {
  .subtitle_news {
    margin-left: 30px;
  }
  .subtitle_news::before {
    left: -20px;
    top: 15px;
    background-size: 10px 18px;
  }
}