.subtitle_news {
  position: relative;
  margin-left: 35px;
  color: #FDC70D;
}

.subtitle_news::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 80%;
  transform: translateY(-50%);
  width: 18px;
  height: 32px;
  background-image: url('/images/sign.svg');
  background-repeat: no-repeat;
}