.form__files-label {
  display: flex;
  align-items: center;
  width: 230px;
  height: 48px;
  background-color: #FDC70D;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

@media (max-width: 400px) {
  .form__files-label {
    width: 155px;
  }
}