.news__box-button {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 80px;
  font-size: 20px;
  line-height: 24.06px;
}

@media (max-width: 700px) {
  .news__box-button {
    flex-wrap: wrap;
    margin: 50px 0 30px;
  }
}