.footer__link_site {
  display: block;
  margin: 13px 0;
}

@media (max-width: 700px) {
  .footer__link_site {
    position: relative;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .footer__link_site {
    left: -105px;
  }
}