.logo_footer {
  width: 170px;
  min-width: 170px;
  height: 167px;
  border-radius: 100px;
}

@media (max-width: 700px) {
  .logo_footer {
    min-width: 73px;
    width: 73px;
    height: 73px;
    max-height: 73px;
  }
}

@media (max-width: 600px) {
  .logo_footer {
    min-width: 87px;
    width: 87px;
    height: 87px;
    min-height: 87px;
  }
}