.form__attach-file {
  position: relative;
  font-size: 20px;
  line-height: 24.06px;
  letter-spacing: 0.8px;
}

.form__attach-file::after {
  content: "";
  position: absolute;
  right: -31px;
  top: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 23px;
  background-image: url('../../../images/clip.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 400px) {
  .form__attach-file {
    font-size: 14px;
    line-height: 16.84px;
    letter-spacing: 0px;
  }
}