.form__box-files {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: center;
  padding: 0 20px 0 10px;
  border-radius: 5px;
  background-color: #FDC70D;
}

@media (max-width: 1000px) {
  .form__box-files {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .form__box-files {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 20px 0 10px;
    font-size: 14px;
    line-height: 16.84px;
    letter-spacing: 0px;
    box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .form__box-files {
    justify-content: center;
    width: 100%;
  }
}