.form__checkmark {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 5px;
  background-image: url(/images/check-mark.svg);
  background-size: cover; 
  flex-shrink: 0;
}