.form__checkmark {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #ADADAD;
  flex-shrink: 0;
  cursor: pointer;
}

.form__label-checkbox:hover .form__checkmark {
  border-color: #FFC600;
}

.form__checkbox:checked + .form__checkmark {
  background-image: url(../../../images/check-mark.svg);
  background-size: cover;
  border: 2px solid #FFC600;
}