.news__button_forward {
  background-image: url(/images/slider-btn.svg);
  background-repeat: no-repeat;
  background-size: 20px 19px;
  background-position: center;
  transform: scale(-1, 1);
  margin-left: 15px;
}