.form__attach-more {
  position: relative;
  margin: 0 20px 0 auto;
  font-size: 20px;
  line-height: 24.06px;
  letter-spacing: 0.6px;
}

.form__attach-more::after {
  content: "";
  position: absolute;
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../../../images/attach-more.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 400px) {
  .form__attach-more {
    display: block;
    font-size: 14px;
    line-height: 16.84px;
    letter-spacing: 0px;
  }
}