.form__input {
  height: 78px;
  border: none;
  border-radius: 15px;
  background-color: #E7E7E6;
  padding: 0 30px;
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0;
}

.form__input:hover {
  border: 2px solid #ADADAD;
  outline: none;
}

.form__input:valid {
  border: 2px solid green;
  outline: none;
}

.form__input:invalid {
  border: 2px solid transparent;
}

.form__input:invalid:focus {
  border: 2px solid red;
}

.form__input:invalid:focus-visible {
  border: 2px solid red;
  outline: none;
}

.form__input:invalid:focus {
  border: 2px solid red;
}

@media (max-width: 400px) {
  .form__input {
    height: 49px;
    padding: 0 15px;
  }
}