.news__card-img {
  min-width: 200px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background-image: url(../../../images/road.png);
  background-size: cover;
}

@media (max-width: 500px) {
  .news__card-img {
    width: 320px;
    background-image: url(../../../images/road-390.png);
  }
}

@media (max-width: 385px) {
  .news__card-img {
    align-self: center;
    width: 250px;
  }
}