.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 71px;
  background-color: #FDC70D;
}

@media (max-width: 1400px) {
  .footer {
    padding-bottom: 37px;
  }
}